/*
 * Slider CSS
*/
body, html{
    width: 100wv;
    overflow: hidden;
}
/* Required CSS Rules */
.slider .carousel-item {
    width: auto;
}
.slider .carousel-item.active {
    display: inline-block;
    /* This specific amount of margin isn't required, but some is. */
    margin-left: .3%;
    margin-right: .3%;
}
/* End required CSS */

/* Example page CSS */
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
p {
    text-align: center;
    margin: 25px;
}
.row {
    margin-top: 20px;
}
h1 {
    margin-bottom: 40px;
    text-align: center;
}
.slider .carousel-inner {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.slider .carousel-item {
    margin-bottom: 50px;
}
.slider .carousel-item.active:hover {
    cursor: pointer;
}
.slider .carousel-item.active.focused {
    color: black;
    font-weight: bold;
    border:2px solid #003C1C;
    border-radius: 20px;
    -webkit-box-shadow: 10px 11px 5px -10px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 11px 5px -10px rgba(0,0,0,0.43);
    box-shadow: 10px 11px 5px -10px rgba(0,0,0,0.43);
}
.slider .carousel-item span {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.slider .carousel-control-next:hover,
.slider .carousel-control-prev:hover,
.slider .carousel-control-next:focus,
.slider .carousel-control-prev:focus,
.slider .carousel-control-next,
.slider .carousel-control-prev {
    filter: alpha(opacity=100);
    opacity: .5;
    background-image: none !important;
    color: black;
    top: 36%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: blanchedalmond;
    width: 50px;
}
.slider .carousel-indicators {
    bottom: -30px;
    z-index: 3 !important;
}
.slider .carousel-indicators li {
    background-color: grey;
}
.slider .carousel-indicators li.active {
    background-color: black !important;
}
.colored-block {
    width: 210px;
    height: 120px;
    border-radius: 20px 20px 0 0;
}
.footer{
    background-color: #F1F1F1;
    color: #777777;
    border-radius: 0 0 20px 20px;
    padding: 4px;
}
.menu{
    list-style: none;
    margin-top: 18px;
}
.menu li{
    margin-top: 10px;
}
.menu li img{
    cursor: pointer;
    width: 100%;
}
#titulo{
    font-size: 22px;
    color: #777777;
    text-align: left;
    margin-left: calc((100% - (640px )) / 2);
}
.alerta{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    margin-top: -50px;
}
.alerta p{
    margin: 0;
    text-align: justify;
}